
<html><title>Register</title>
<body>
<form id='register' method='POST' action='/register'>
User name: <input type="text" name="name" ><br>
Password: <input type="password" name="password" ><br>
Confirm password : <input type="password" name="password2" ><br>
<input type="submit" value="Submit">
</form>
</body></html>
